@import "tailwindcss";

@theme {
  --font-sans: "GT Walsheim Pro", Arial, sans-serif;
}

* {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: "GT Walsheim Pro", Arial, sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
